<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>
    <div class="center">
        <h2>Menambah Kecamatan</h2>
        <form method="post" action="/kecamatan">
            <div class="text">
                <input type="text" required>
                <span></span>
                <label>Kecamatan</label>
            </div>
            
            <br>
            <input type="submit" value="Tambah">
            <a href="kecamatan"><input type="button" value="Batal"></a>
            <br><br><br>
    </div>
    </form>
    </div>

</body>

</html>