<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>
    <div class="center">
        <h2>Menambah Perioda</h2>
        <form method="post" action="/addperioda">
            <div class="text">
                <input type="text" required name="namaperiode">
                <span></span>
                <label>Nama Perioda</label>
            </div>
            <div class="text">
                <input type="date" required name="tanggalmulai">
                <span></span>
                <label class="date">Tanggal Mulai</label>
            </div>
            <div class="text">
                <input type="date" required name="tanggalberakhir">
                <span></span>
                <label class="date">Tanggal Berakhir</label>
            </div>
            <br>
            <input type="submit" value="Tambah">
            <a href="perioda"><input type="button" value="Batal"></a>
            <br><br><br>
    </div>
    </form>
    </div>

</body>

</html>