<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>
    <div class="center">
        <h2>Menambah Produk</h2>
        <form method="post" action="/addproduk">
            <div class="text">
                <input type="text" required name="namaproduk">
                <span></span>
                <label>Nama Produk</label>
            </div>
            <div class="text">
                <input type="text" required name="harga">
                <span></span>
                <label>Harga perliter</label>
            </div>
            <br>
            <input type="submit" value="Tambah">
            <a href="produk"><input type="button" value="Batal"></a>
            <br><br><br>
    </div>
    </form>
    </div>

</body>

</html>