<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <link rel="stylesheet" href="add.css">
</head>

<body>
    <div class="center">
        <h2>Menambah RW</h2>
        <form method="post" action="/addrw">
            <div class="text">
                <input type="text" required name="norw">
                <span></span>
                <label>RW</label>
            </div>
            <div class="text">
                <input type="text" required name="namaketua">
                <span></span>
                <label>Nama Ketua Rw</label>
            </div>
            <div class="text">
                <input type="text" required name="username">
                <span></span>
                <label>Username</label>
            </div>
            <div class="text">
                <input type="text" required name="password">
                <span></span>
                <label>Password</label>
            </div>
            <div class="text">
                <input type="text" required name="kelurahan">
                <span></span>
                <label>Kelurahan</label>
            </div>
            <br>
            <input type="submit" value="Tambah">
            <a href="rw"><input type="button" value="Batal"></a>
            <br><br><br>
    </div>
    </form>
    </div>

</body>

</html>