<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <script src="/script/profile.js" defer></script>
    <title>Home</title>
</head>
<body>
    <header class="header">
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <div class="profile-pic">
            <label class="labels" for="file">
              <span class=""></span>
              <span>Ganti profile</span>
            </label>
            <input id="file" type="file" onchange="loadFile(event)"/>
            <img src="/assets/user.png" id="output" width="200" />
          </div>
    </header>
        <div class="content">
            <a class="a1" href="kecamatan">Kecamatan</a>
            <a class="a2" href="kelurahan">Kelurahan</a>
            <a class="a3" href="rw">RW</a>
            <a class="a4" href="users">Users</a>
            <a class="a5" href="produk">Produk</a>
            <a class="a6" href="perioda">Perioda Pemesan</a>
        </div>
</body>
</html>