<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Kecamatan</title>
</head>
<body>
    <header class="header">
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="homeadmin">Home</a>
        <a href="kecamatan">Kecamatan</a>
        <a href="kelurahan">Kelurahan</a>
        <a href="rw">RW</a>
        <a href="users">Users</a>
        <a href="produk">Produk</a>
        <a href="perioda">Perioda Pemesan</a>
    </div>
    <div class="main">
        <p>Kecamatan </p>
        <table>
            <tr>
                <th>No</th>
                <th>Nama Kecamatan</th>
                <th colspan="2">Akses</th>
            </tr>
            <% var i =1; %> 
            <% for (const kec of kecamatan) { %>
                <tr>
                    <td><%= i %> </td>
                    <td><%= kec.nama_kec %></td>
                    <td><a href="kecamatan/hapus/<%=kec.id_kec %>" >hapus</a> </td>
                    <td><a href="">Edit</a></td>
                </tr>
                <% i +=1; %> 
            <%} %> 
            
        </table>

        

        <a href="addkecamatan">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>