<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <script src="/script/profile.js" defer></script>
    <script src="/script/pagination.js" defer></script>
    <title>Kelurahan</title>
</head>
<body>
    <header class="header">
        <div id="page">
            <button class="pg"><a href="kecamatan">1</a></button>
            <button class="pg active"><a href="kelurahan">2</a></button>
            <button class="pg"><a href="perioda">3</a></button>
            <button class="pg"><a href="produk">4</a></button>
            <button class="pg"><a href="rw">5</a></button>
            <button class="pg"><a href="users">6</a></button>
          </div>
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <div class="profile-pic">
            <label class="labels" for="file">
              <span class=""></span>
              <span>Ganti profile</span>
            </label>
            <input id="file" type="file" onchange="loadFile(event)"/>
            <img src="/assets/user.png" id="output" width="200" />
          </div>
    </header>
    <div class="sidenav">
        <a href="homeadmin">Home</a>
        <a href="kecamatan">Kecamatan</a>
        <a href="kelurahan">Kelurahan</a>
        <a href="rw">RW</a>
        <a href="users">Users</a>
        <a href="produk">Produk</a>
        <a href="perioda">Perioda Pemesan</a>
    </div>
    <div class="main">
        <p>Kelurahan </p>
        <table>
            <tr>
                <th>No</th>
                <th>Nama Kelurahan</th>
                <th>Kecamatan</th>
                <th colspan="2">Akses</th>
            </tr>
            <% var i = 1; %> 
            <% for (const kel of kelurahan) { %>
                <tr>
                    <td><%= i %> </td>
                    <td><%= kel.nama_kel %></td>
                    <td><%= kel.nama_kec %></td>
                    <td><a href="kelurahan/hapus/<%=kel.nama_kel %>" >hapus</a> </td>
                </tr>
                <% i +=1; %> 
            <%} %> 
        </table>
            
        </table>

        <a href="addkelurahan">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>