<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>RW</title>
</head>
<body>
    <header class="header">
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="homeadmin">Home</a>
        <a href="kecamatan">Kecamatan</a>
        <a href="kelurahan">Kelurahan</a>
        <a href="rw">RW</a>
        <a href="users">Users</a>
        <a href="produk">Produk</a>
        <a href="perioda">Perioda Pemesan</a>
    </div>
    <div class="main">
        <p>RW </p>
        <table>
            <tr>
                <th>No</th>
                <th>RW</th>
                <th>Nama Ketua</th>
                <th>Alamat</th>
                <th>Kelurahan</th>
                <th>Akses</th>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="">001</a></td>
                <td> <a href="">ahmad</a> </td>
                <td> jalan salak no 1</td>
                <td> <a href="">cisarua</a> </td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="">002</a></td>
                <td><a href="">budi</a></td>
                <td>jalan bunga mawar</td>
                <td> <a href="">cisarua</a> </td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="">003</a></td>
                <td><a href="">joko</a></td>
                <td>jalan salak no 29</td>
                <td> <a href="">cisarua</a> </td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="">001</a></td>
                <td><a href="">udin</a></td>
                <td>jalan durian no 33</td>
                <td> <a href="">Lembang</a> </td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="">002</a></td>
                <td><a href="">iman</a></td>
                <td>jalan kijang no 25</td>
                <td> <a href="">Lembang</a> </td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            
        </table>

        <a href="addrw">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>