<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <p>Kepala Dinas Perdagangan</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
        <div class="content">
            <a class="a1" href="rekapitulasirw">Laporan Rekapitulasi RW</a>
            <a class="a2" href="rekapitulasikel">Laporan Rekapitulasi Kelurahan</a>
            <a class="a3" href="rekapitulasikec">Laporan Rekapitulasi Kecamatan</a>
            <a class="a4" href="grafikrw">Grafik Penjualan RW</a>
            <a class="a5" href="grafikkel">Grafik Penjualan Kelurahan</a>
            <a class="a6" href="grafikkec">Grafik Penjualan Kecamatan</a>
        </div>
</body>
</html>