<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="kecamatan">Kecamatan</a>
        <a href="kelurahan">Kelurahan</a>
        <a href="rw">RW</a>
        <a href="users">User</a>
        <a href="produk">Produk</a>
        <a href="perioda">Perioda Pemesan</a>
    </div>
    <div class="main">
        <p>Kelurahan </p>
        <table>
            <tr>
                <th>No</th>
                <th>Nama Kelurahan</th>
                <th>Kecamatan</th>
                <th>Akses</th>
            </tr>
            <tr>
                <td>1</td>
                <td> <a href="cisarua">Cisarua</a></td>
                <td> <a href="bandungbarat">Bandung Barat</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="">Lembang</a></td>
                <td> <a href="bandungbarat">Bandung Barat</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="">Parongpong</a></td>
                <td> <a href="bandungbarat">Bandung Barat</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="">Antapani</a></td>
                <td> <a href="">Bandung</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="">Astana Anyar</a></td>
                <td> <a href="">Bandung</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            
        </table>
            
        </table>

        <a href="addkelurahan">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>