<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>Admin</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="kecamatan">Kecamatan</a>
        <a href="kelurahan">Kelurahan</a>
        <a href="rw">RW</a>
        <a href="users">User</a>
        <a href="produk">Produk</a>
        <a href="perioda">Perioda Pemesan</a>
    </div>
    <div class="main">
        <p>Produk </p>
        <table>
            <tr>
                <th>Id_M</th>
                <th>Nama Produk</th>
                <th>Harga Perliter</th>
                <th>Akses</th>
            </tr>
            <tr>

                <td> <a href="">0001</a> </td>
                <td> <a href="">sunco</a> </td>
                <td> <a href="">17.000</a> </td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td> <a href="">0002</a> </td>
                <td><a href="">sania</a></td>
                <td><a href="">15.000</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td> <a href="">0003</a> </td>
                <td><a href="">amanda</a></td>
                <td><a href="">11.000</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            <tr>
                <td> <a href="">0004</a> </td>
                <td><a href="">bimoli</a></td>
                <td><a href="">14.000</a></td>
                <td> <a href="">hapus</a> <a href="">Edit</a></td>
            </tr>
            
            
        </table>

        <a href="menambahRW">
            <input type="submit" value="Tambah" name='addNewRole'>
        </a>
    </div>
</body>
</html>