<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>RT</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="homert">Home</a>
        <a href="datawarga">Data Warga</a>
        <a href="akunwarga">Buat Akun Warga</a>
        <a href="pesananwarga">Pesanan Warga</a>
    </div>
    <div class="main">
        <br>
        <table>
            <tr>
                <th>No</th>
                <th>Nama Warga</th>
                <th>Alamat</th>
                <th colspan="2">Akses</th>
            </tr>
            <% var i  = 1;%>
            <%for (const warga of datawarga) {%>
                <td style="text-align:center;"> <%=i%></td>
                <td> <%=warga.nama_warga%></td>
                <td> <%=warga.alamat%></td>
                <td><a href="rt/hapusdata/<%=warga.id_warga %>" >hapus</a> </td>
                <td><a href="">Edit</a></td>
                <% i++%>
            <%}%>
        </table>
    </div>
</body>
</html>