<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <p>RT</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
        <div class="content">
            <a class="a1" href="datawarga">Data Warga</a>
            <a class="a2" href="akunwarga">Buat Akun Warga</a>
            <a class="a3" href="pesananwarga">Pesanan Warga</a>
        </div>
</body>
</html>