header{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: end;
    background: rgb(44, 68, 129);
    color: white;
}
.header p{
    margin: 0;
    padding: 0;
    padding-right: 20px;
}
.header a{
    color: white;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}
img {
    height: 30px;
    padding-right: 20px;
}

.sidenav {
    margin-top: 60px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(31, 50, 100);
    overflow-x: hidden;
    padding-top: 40px;
    box-sizing: border-box;
}

.sidenav a {
    padding: 20px 8px 6px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px; 
    padding: 0px 10px;
}
.main p {
    margin-left: 15px;
    font-size: 28px;
}
table {
	border: 1px solid rgb(0, 0, 0);
	border-collapse: collapse;
    font-size: 20px;
    margin-left: 15px;
}
td, tr{
	border: 1px solid rgb(0, 0, 0);
	padding: 4px;
    justify-content: center;
    align-items: center;
    
}
th {
	padding: 4px;
	border: 1px solid rgb(0, 0, 0);
	text-align: center;
	background: rgb(57, 88, 167);
	color: white;
}
td a{
    text-decoration: none;
}
input{
    margin-top: 5px;
    margin-left: 243px;
}


.content{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px ;
    grid-template-areas: 
    "cont1 cont2 cont3"
    "cont4 cont5 cont6";
    align-items: center;
    justify-content: center;
    padding: 80px 50px 50px 50px;
}
.content a{
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: grid;
    text-decoration: none;

}

a.a1{
    color: black;
    grid-area: cont1;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 18px inset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}
a.a2{
    color: black;
    grid-area: cont2;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 18px inset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}
a.a3{
    color: black;
    grid-area: cont3;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 18px inset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}
a.a4{
    color: black;
    grid-area: cont4;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 18px inset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}
a.a4{
    color: black;
    grid-area: cont4;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 18px inset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}
a.a5{
    color: black;
    grid-area: cont5;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 18px inset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}
a.a6{
    color: black;
    grid-area: cont6;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 18px inset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}
  #bar-chart {
    height: 380px;
    width: 70%;
    position: relative;
    margin: 50px auto 0;
  }
  #bar-chart * {
    box-sizing: border-box;
  }
  #bar-chart .graph {
    height: 283px;
    position: relative;
  }
  #bar-chart .bars {
    height: 253px;
    padding: 0 2%;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  #bar-chart .bar-group {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 12%;
    margin-right: 10%;
  }
  #bar-chart .bar-group:last-child {
    margin-right: 0;
  }
  #bar-chart .bar-group .bar {
    height: 0;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
    border: 1px solid #2d2d2d;
    border-radius: 3px 3px 0 0;
    bottom: 0;
    cursor: pointer;
    height: 0;
    position: absolute;
    text-align: center;
    width: 25%;
  }
  #bar-chart .bar-group .bar:nth-child(2) {
    left: 35%;
  }
  #bar-chart .bar-group .bar:nth-child(3) {
    left: 70%;
  }
  #bar-chart .bar-group .bar span {
    display: none;
  }
  #bar-chart ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #bar-chart .x-axis {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  #bar-chart .x-axis li {
    float: left;
    margin-right: 10.5%;
    font-size: 11px;
    width: 11.5%;
  }
  #bar-chart .x-axis li:last-child {
    margin-right: 0;
  }
  #bar-chart .y-axis {
    position: absolute;
    text-align: right;
    width: 100%;
  }
  #bar-chart .y-axis li {
    border-top: 1px solid #4e5464;
    display: block;
    height: 63.25px;
    width: 100%;
  }
  #bar-chart .y-axis li span {
    display: block;
    font-size: 11px;
    margin: -10px 0 0 -60px;
    padding: 0 10px;
    width: 40px;
  }
  #bar-chart .stat-1 {
    background-image: -webkit-linear-gradient(left, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
    background-image: linear-gradient(to right, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
  }
  #bar-chart .stat-2 {
    background-image: -webkit-linear-gradient(left, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
    background-image: linear-gradient(to right, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
  }
  #bar-chart .stat-3 {
    background-image: -webkit-linear-gradient(left, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
    background-image: linear-gradient(to right, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
  }
  .inputlist{
    display: inline-grid;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 0;
  }
  .profile-pic {
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
  }
  .profile-pic .labels {
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  .profile-pic:hover .labels {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  }
  body a:hover {
    text-decoration: none;
  }
  