header{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: end;
    background: rgb(44, 68, 129);
    color: white;
}
.header p{
    margin: 0;
    padding: 0;
    padding-right: 20px;
}
.header a{
    color: white;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}
img {
    height: 30px;
    padding-right: 20px;
}

.sidenav {
    margin-top: 60px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(31, 50, 100);
    overflow-x: hidden;
    padding-top: 40px;
    box-sizing: border-box;
}

.sidenav a {
    padding: 20px 8px 6px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px; 
    padding: 0px 10px;
}
.main p {
    margin-left: 15px;
    font-size: 28px;
}
table {
	border: 1px solid rgb(0, 0, 0);
	border-collapse: collapse;
    font-size: 20px;
    margin-left: 15px;
}
td, tr{
	border: 1px solid rgb(0, 0, 0);
	padding: 4px;
    justify-content: center;
    align-items: center;
    
}
th {
	padding: 4px;
	border: 1px solid rgb(0, 0, 0);
	text-align: center;
	background: rgb(57, 88, 167);
	color: white;
}
td a{
    text-decoration: none;
}
input{
    margin-top: 5px;
    margin-left: 243px;
}


.content{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px ;
    grid-template-areas: 
    "cont1 cont2 cont3"
    "cont4 cont5 cont6";
    align-items: center;
    justify-content: center;
    padding: 80px 50px 50px 50px;
}
.content a{
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: grid;
    text-decoration: none;

}

a.a1{
    color: black;
    grid-area: cont1;
}
a.a2{
    color: black;
    grid-area: cont2;
}
a.a3{
    color: black;
    grid-area: cont3;
}
a.a4{
    color: black;
    grid-area: cont4;
}
a.a4{
    color: black;
    grid-area: cont4;
}
a.a5{
    color: black;
    grid-area: cont5;
}
a.a6{
    color: black;
    grid-area: cont6;
}