<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>Warga</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="changepass">Change Password</a>
        <a href="beliminyak">Beli Minyak</a>
    </div>
    <div class="main">
        <p>Beli Minyak Goreng </p>
        <form action="/action_page.php" method="get">
            <div class="inputlist">
            <a>&emsp;&nbsp;Pilih Periode Pemesanan Anda:</a>
            <input list="periods" name="period" id="period">
            <datalist id="periods">
              <option value="Periode 1 (17-01-2022 s/d 01-02-2022)">
              <option value="Periode 2 (10-02-2022 s/d 24-02-2022)">
              <option value="Periode 3 (01-03-2022 s/d 15-03-2022)">
              <option value="Periode 4 (24-03-2022 s/d 01-04-2022)">
            </datalist>
            <input type="submit" value="Pilih" name='pilih'>
            </div>
          </form>
          <br>
          <br>
        <table>
            <tr>
                <th>Id_M</th>
                <th>Nama Produk</th>
                <th>Harga Perliter</th>
                <th>Jumlah</th>
                <th>Total Harga</th>
            </tr>
            <tr>

                <td> <a href="">0001</a> </td>
                <td> <a href="">sunco</a> </td>
                <td> <a href="">17.000</a> </td>
                <td> <a href=""><input type="number" id="quantity" name="quantity" min="1" max="5"></a></td>
            </tr>
            <tr>
                <td> <a href="">0002</a> </td>
                <td><a href="">sania</a></td>
                <td><a href="">15.000</a></td>
                <td> <a href=""><input type="number" id="quantity" name="quantity" min="1" max="5"></a></td>
            </tr>
            <tr>
                <td> <a href="">0003</a> </td>
                <td><a href="">amanda</a></td>
                <td><a href="">11.000</a></td>
                <td> <a href=""><input type="number" id="quantity" name="quantity" min="1" max="5"></a></td>
            </tr>
            <tr>
                <td> <a href="">0004</a> </td>
                <td><a href="">bimoli</a></td>
                <td><a href="">14.000</a></td>
                <td> <a href=""><input type="number" id="quantity" name="quantity" min="1" max="5"></a></td>
                <td></td>
            </tr>
            <tr>
                <td</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="">14.000</a></td>
            </tr>
            
            
        </table>
        <a href="pembayaran">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;
            <input type="submit" value="Selesai" name='check'>
        </a>
    </div>
</body>
</html>