<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <p>Staf Penjualan</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
        <div class="content">
            <a class="a1" href="stafperiodepesanan">Periode Pemesanan</a>
            <a class="a2" href="stafstatuspembayaran1">Status Pesanan Warga P1</a>
            <a class="a3" href="stafstatuspembayaran2">Status Pesanan Warga P2</a>
            <a class="a4" href="stafstatuspembayaran3">Status Pesanan Warga P3</a>
            <a class="a5" href="stafstatuspembayaran4">Status Pesanan Warga P4</a>
        </div>
</body>
</html>