<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadmin.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p>Staf Penjualan</p>
        <a href="logout"><p>Logout</p></a>
        <img src="/assets/user.png" alt="">
    </header>
    <div class="sidenav">
        <a href="stafperiodepesanan">Perioda Pemesan</a>
        <a href="stafstatuspembayaran">Status Pesanan Warga</a>
    </div>
    <div class="main">
        <p>Pemesanan Periode Ke: </p>
        <table>
            <tr>
                <th>Id_Warga</th>
                <th>Nama Warga</th>
                <th>Alamat</th>
                <th>Jumlah Pesanan</th>
                <th>Status Pesanan</th>
            </tr>
            <tr>
                <td>001</td>
                <td> <a href="">Doni</a></td>
                <td> <a href>Bandung Barat</a></td>
                <td> <a href="">7</a></td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>002</td>
                <td><a href="">Joko</a></td>
                <td> <a href>Bandung Barat</a></td>
                <td> <a href="">3</a></td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>003</td>
                <td><a href="">Budi</a></td>
                <td> <a href>Bandung Barat</a></td>
                <td> <a href="">1</a></td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>004</td>
                <td><a href="">Dodo</a></td>
                <td> <a href="">Bandung</a></td>
                <td> <a href="">2</a></td>
                <td> <a><input type="checkbox"></a></td>
            </tr>
            <tr>
                <td>005</td>
                <td><a href="">Rangga</a></td>
                <td> <a href="">Bandung</a></td>
                <td> <a href="">7</a></td>
                <td> <a>  <input type="checkbox"></a></td>
            </tr>
            
        </table>
        <a href="pembayaran">
            <input type="submit" value="Selesai" name='check'>
        </a>
    </div>
</body>
</html>